*{
    margin: 0;
    padding: 0; /*Для всего документа*/
}
html{
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 1920px;
    min-width: 1280px;
    margin: 0 auto;
}
body{
    width: 100%;

}
.container{
    width: 90%;
    height: 100%;
    min-width: 70%;
    max-width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: colum;
}
.header{
    width: 100%;
    height: 140px;
}
.logo{
    width: 400px;
    display: inline-block;
    position: relative;
    left: 40px;
}
a{
    text-decoration: none;
}
.logo-text{ /*Текст логотпа шапки*/
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(29, 29, 29);
}
.logo-text:hover{
    color: rgb(117, 117, 117);
}
.menu-logo, .menu-logo li{ /*Менюшка шапки*/
    float: right;
    display: inline;
    position: relative;
    top: 45px;
    right: 30px;
    color: rgb(29, 29, 29);
    font-size: 16px;
}
.menu-logo a{
    color: rgb(29, 29, 29); /*Менюшка шапки*/
}
.menu-logo a:hover{
    color: rgb(117, 117, 117); /*Менюшка шапки*/
}
hr{
    background-color: rgb(117, 117, 117);
    color: rgb(117, 117, 117);
    border: 0,5;

}
.main{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    flex-grow: 1;
}
.width-index-main{
    margin: 0 auto;
    width: 80%;
}
.text-block-main{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
}
.text-punct{
    padding-top: 30px;
    position: relative;
    bottom: -30px;
    font-size: 20px;
    font-weight: 700;
}
.photo-index{
    text-align: center;
}
.img-index{
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px rgba(48, 48, 48, 0.22);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.img-index:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.catalog{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.galery, .galery a{
    color: rgb(29, 29, 29);
    font-size: 13px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 15px;
}
.galery a:hover{
    color: rgb(117, 117, 117);
}
.puti{
    width: 100%;
    text-align: center;
}
.puti img{
    overflow:hidden;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.puti img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.galery-photo{
    margin-top: 40px;
    margin-bottom: -10px;
}
table{
    margin: 0 auto;
}
td{
   margin: 10px;
   padding: 10px;
   
}
tr{
   margin: 10px;
}
td img{
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(48, 48, 48, 0.22);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
td img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);

}
.video{
    display: inline-block;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(48, 48, 48, 0.22);
}
.footer{
    width: 100%;
    height: 100px;
}
.text-footer{
    text-align: center;
    font-size: 12px;
    margin: 5px;
    font-weight: 500;
}
#upbutton {
    background: url("img/ico/upbutton_120587.png") no-repeat top right;
    height: 65px;
    width: 65px;
    position: relative;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
.shrinkToFit {
    cursor: zoom-in;
}

/*

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/logo.png"> <!--Иконка-->
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap" rel="stylesheet"> <!--Шрифты-->
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <title>Подъяково</title>
    <style>
        div{
            text-align: center;
            position: relative;
            top: 150px;
        }
    </style>
</head>
<body>
    <div><a href="index.html"><img src="img/index-1.jpg" alt="index-1" width="850" height="650" class="img-index"></a></div>
</body>
</html>

*/
