html{
    font-family: 'Manjari', sans-serif;
	background-image:url(ico/white-scratone.png);
}
a {
	text-decoration: none;
	color: black;
	font-size:16px;
	transition: 0.2s;
}
a:hover{
	font-size: 18px;
    transform: scale(1.1);
} 
img {
	border-radius: 5px;
    height: auto;
	
}
b {
	color: red;
}
h1{
	text-shadow:  #C0C0C0 2px 2px 0;              
	font-size:42px;
	
}
h5{
	text-align:center;
}
p{
	margin-left: 10px;
}
table{
	border-collapse: collapse;
	border: 0px ;
	table-layout: fixed;
}
td {
	width: 2%;
}
h6 {
	text-align: center;
}
h3{
	text-align:center;
}
#upbutton {
    background: url("ico/upbutton_120587.png") no-repeat top left;
    height: 67px;
    width: 80px;
    bottom: 30px;
    right: 0px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
.shrinkToFit {
    cursor: zoom-in;
}
article{
	text-align:center;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #696969; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
	margin-bottom:10px;
	margin-top:10px;
	
}











